@use '../util' as *;

.toggle {
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(14);
  color: var(--secondary-fc);

  @include breakpoint(medium) {
		display: flex;
		align-items: center;
		gap: rem(14);
	}

  &:hover {
    color: var(--main-fc);
  }

	label {
    font-weight: 700;
		font-size: rem(14);
		cursor: pointer;
	}

	&__wrapper {
		position: relative;
		border-radius: rem(12);
		overflow: hidden;
		height: rem(24);
		width: rem(48);
		display: flex;
		align-items: center;
		justify-content: center;

    &:hover .toggle__background {
      background: var(--toggle-bg-hover);
    }
	}

	input[type='radio'] {
    position: relative;
    z-index: 1;
		opacity: 0;
		width: 50%;
		height: 100%;
		cursor: pointer;

    
	}

	&__background {
		position: absolute;
		inset: 0;
		background: var(--toggle-bg);
    z-index: 0;
	}

	&__switcher {
		position: absolute;
		top: rem(3.2);
		background-color: var(--main-bg);
		width: rem(18);
		height: rem(18);
		border-radius: 50%;
		transition: all 200ms ease-in-out;
		cursor: pointer;
	}

  #dark:checked ~ .toggle__switcher {
    left: rem(3);
		right: 100%;
  }

	#light:checked ~ .toggle__switcher {
		right: rem(3);
		left: calc(rem(48) - rem(21));
	}

	
}
